@keyframes slide {
	from {
		opacity: 0;
		transform: translateY(-3.25rem);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
