/* *** Breakpoints *** */

// this width and bigger
// 640px 1024px 1400px
$breakpoints-up: (
	'md': '40em',
	'lg': '64em',
	'xl': '87.5em'
);

// this width and smaller
// 639px 1023px 1399px
$breakpoints-down: (
	'sm': '39.975em',
	'md': '63.975em',
	'lg': '87.4375em'
);

@mixin breakpoint-up($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}

// transitions
@mixin ease {
	transition: all 0.3s ease;
}

@mixin ease-5 {
	transition: all 0.5s ease;
}

@mixin ease-in {
	transition: all 0.3s ease-in;
}

@mixin ease-out {
	transition: all 0.3s ease-out;
}

// center
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
