// Colors
$orange: #c85107;
$orangeLight: #ff6709;
$blue: #4cc0cb;
$blueDark: #00a5b5;
$dark: #2e2e2e;
$light: #fafafa;
$fontC-900: #363636;
$fontC-600: #4a4a4a;
$fontC-500: #616161;
$fontC-100: #bcbcbc;
$blueBg: #36454f;

// Font Size base size 16px
$fontSm: 0.875rem; // 14px
$fontMd: 1.125rem; // 18px
$fontLg: 1.25rem; // 20px
$fontXl: 3.2rem; // 50px

// Useful sizes
$utilSm: 1.5rem; // 24px
$utilMd: 1.875rem; // 30px
$utilLg: 2.5rem; // 40px
