footer {
	.newsletter {
		.w-50 {
			flex: 0 0 50%;
			max-width: 50%;
			@include center;
			justify-content: space-evenly;
			flex-direction: column;
			padding-bottom: 2rem;

			h4 {
				color: $fontC-600;
				font-size: $fontLg;
			}
			.form-group {
				flex: 1;
			}
			button {
				margin: 0;
				display: inline-block;
			}
			input {
				padding: 0.5rem 0.75rem;
				font-size: 1rem;
				border: 0;
				color: $fontC-500;
				border-radius: 1rem;
				background-color: #ddd;

				&:focus {
					outline: 1px solid $blueDark;
				}
			}

			.social-container {
				flex: 1;

				& > *:not(:last-child) {
					margin-right: 1rem;
				}

				i {
					color: $orangeLight;
					@include ease;

					&:hover {
						color: $blueDark;
					}
				}
			}
		}
	}

	.site-map {
		background-color: $blueBg;
		padding: 2rem 0;
		color: $light;

		.w-20 {
			flex: 0 0 20%;
			max-width: 20%;

			h4 {
				font-size: $fontLg;
				color: $light;
				font-weight: 600;
			}

			a {
				font-size: $fontSm;
				color: $light;
				line-height: 1.6;
				@include ease;

				&:hover,
				&:focus {
					color: $blueDark;
				}
			}

			p {
				margin: 0;
				line-height: 1.6;
				color: $fontC-100;
			}
		}
	}

	.copyright {
		padding-top: 2rem;
		color: $fontC-100;
		@include center;

		a {
			font-size: $fontMd;
			@include ease;

			&:hover,
			&:focus {
				color: $blueDark;
			}
		}
	}

	@include breakpoint-down(md) {
		.newsletter {
			.w-50 {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.social-container {
				i {
					font-size: $utilLg;
				}
			}
		}

		.site-map {
			.w-20 {
				flex: 0 0 50%;
				max-width: 50%;
				min-height: 20vh;
				display: flex;
				align-items: center;
				flex-direction: column;
				padding-top: 2rem;

				&:nth-child(2),
				&:nth-child(4) {
					h4 {
						margin-left: -$utilMd;
					}
				}

				&:last-child {
					flex: 0 0 100%;
					max-width: 100%;

					p {
						margin: auto;
						font-size: 1rem;
						max-width: 80%;
					}
					ul {
						width: 100%;
						li {
							width: 100%;
							text-align: center;

							p:last-child {
								color: $orange;
							}
						}
					}
				}
			}
		}
	}
}
