.header {
	top: 0;
	position: fixed;
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: $blueBg;
	z-index: 100;

	.logo {
		img {
			width: 3.75rem;
			height: 3.75rem;
		}
	}

	.navbar {
		display: flex;
		align-items: center;

		a:hover {
			transform: scale(1.05) translateY(-1px);
		}

		& > :not(:last-child) {
			margin-right: 1rem;
		}
	}
}
